
<app-shop-header pageTitle="Pagos" iconTitle="business" helpTitle="BancosPageHelp"></app-shop-header>

<mat-card [@fallIn]='state'>
    <mat-card-title>
        Formas de Pago
    </mat-card-title>

    <mat-card-content>
        <button routerLink="/portada">Ir a la Portada</button>
        <button routerLink="/wordpress-hosting">Ir a Wordpress Hosting</button>
        <button routerLink="/contactus">Contactenos</button>
        <br>
        <p>
            Formas de Pago a Domiserver en Venezuela.
        </p>
    </mat-card-content>
</mat-card>

<app-shop-footer></app-shop-footer>
