<app-shop-header pageTitle="Hosting" iconTitle="cloud" helpTitle='Wordpresshostingpagehelp'> </app-shop-header>
<mat-card [@fallIn]='state'>
    <mat-card-title>
        Wordpress Hosting
    </mat-card-title>

    <mat-card-content>
        <button routerLink="/portada">Ir a la Portada</button>
        <button routerLink="/bancos">Formas de Pago</button>
        <button routerLink="/contactus">Contactenos</button>
        <br>
        <p>
            Contenido principal de Wordpress Hosting.
        </p>
    </mat-card-content>
</mat-card>

<app-shop-footer></app-shop-footer>
