<mat-card>
    
    <div *ngIf="userloggedin"; else showlogginpage>
        <button type="button" routerLink="/product" mat raise-button color="primary">Continuar comprando</button>
    </div>

    <ng-template #showloggingpage>
        <mat-card-content>
            <form #formData="ngForm" (ngSubmit)="login('email', formData.value)" class="example-form">
                <mat-card-actions *ngIf="error">
                    <mat-error>Login credentials are not verified. Here is the error: {{ error }}</mat-error>
                </mat-card-actions>

                <mat-error *ngIf="dataLoading">
                    <mat-progress-spinner mode="indeterminate" [attr.color]="primary" [value]="15"></mat-progress-spinner>
                </mat-error>

                <mat-error *ngIf="brokenNetwork" class="label-error">Network Connection Error.</mat-error>

                <mat-card-actions align="start">
                    <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Login</button>
                        <!--<button type="button" routerLink="shopping" mat-raised-button color="primary">Browse as Guest</button>-->
                </mat-card-actions>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="usuario"  type="username" name="username" #username="ngModel" ngModel required username>
                </mat-form-field>
                <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="clave" type="password" name="password" #password="ngModel" ngModel required password maxlength="30" >
                </mat-form-field>

                <span *ngIf="password.invalid">
                    <mat-error ngIf="password-errors[required">Password is required</mat-error>
                    <mat-error ngIf="password-errors['minlength'">Password can't be less than 5 characters.</mat-error>
                    <mat-error ngIf="password-errors['maxlength'">Password can't be more than 30 characters.</mat-error>
                </span>
            </form>
        </mat-card-content>
    </ng-template>
    
</mat-card>
