<app-shop-header pageTitle="Portada" iconTitle="home"></app-shop-header>
<mat-card [@fallIn]='state'>
    <mat-card-title>
        Portada
    </mat-card-title>

    <mat-card-content>
        <button routerLink="/bancos">Ir a Formas de Pago</button>
        <button routerLink="/wordpress-hosting">Ir a Wordpress Hosting</button>
        <button routerLink="/contactus">Contactenos</button>
        <br>
        <p>
            Contenido principal de la Portada.
        </p>
    </mat-card-content>
</mat-card>
