<app-shop-header pageTitle="Domiserver" iconTitle="business" helpTitle='Ayuda y Soporte'></app-shop-header>
<mat-card [@fallIn]='state'>
    <mat-card-title>
        Sobre Domiserver
    </mat-card-title>
<mat-tab-group>
    <mat-tab label="Domiserver"> Domiserver </mat-tab>
    <mat-tab label="Centro de Datos"> Centro de Datos </mat-tab>
    <mat-tab label="Afiliados"> Afiliados </mat-tab>
    <mat-tab label="Terminos"> Terminos de Servicio </mat-tab>
    <mat-tab label="Cookies"> Cookies </mat-tab>
    <mat-tab label="Politica de Privacidad"> Politica de Privacidad </mat-tab>    
  </mat-tab-group>
