<app-shop-header pageTitle="Contactenos" iconTitle="email" helpTitle='ContactUsPageHelp'></app-shop-header>

<mat-card [@fallIn]='state'>
    <mat-card-title>
        Contactenos
    </mat-card-title>

    <mat-card-content>
        <button routerLink="/portada">Ir a la Portada</button>
        <button routerLink="/wordpress-hosting">Ir a Wordpress Hosting</button>
        <button routerLink="/bancos">Formas de Pago</button>
        <br>
        <p>
            Contactenos.
        </p>
    </mat-card-content>
</mat-card>

<app-shop-footer></app-shop-footer>
